<header>
    <div class="logo">
        <a href="index.html">
            <img src="../assets/images/logo_ocgc.png" alt="OCGC Logo" style="height: 50px;">
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="index.html">INICIO</a></li>
            <li>
                <a href="nosotros/">NOSOTROS <i class="fas fa-chevron-down" style="font-size: 0.7rem;"></i></a>
                <div class="dropdown-menu">
                    <a href="nosotros/">Quiénes somos</a>
                    <a href="nosotros/orquesta/">Orquesta</a>
                    <a href="nosotros/coro/">Coro</a>
                    <a href="nosotros/ensemble-de-flautas/">Ensemble de Flautas</a>
                    <a href="nosotros/ensemble-de-metales/">Ensemble de Metales</a>
                    <a href="nosotros/ensemble-de-violonchelos/">Ensemble de Violonchelos</a>
                    <a href="nosotros/big-band/">Big Band</a>
                </div>
            </li>
            <li><a href="conciertos/">CONCIERTOS</a></li>
            <li><a href="unete/">ÚNETE</a></li>
            <li><a href="https://www.paypal.com/donate/?hosted_button_id=WQGTER7DPGGB6" target="_blank" class="btn-donate">DONAR</a></li>
        </ul>
        <a href="https://auditorioalfredokraus.janto.es/janto/main.php?Nivel=Evento&idEvento=OCGC0326" target="_blank" class="btn btn-outline"><i class="fas fa-ticket-alt"></i> ENTRADAS</a>
    </nav>
    <button class="mobile-menu-btn" style="display: none;"><i class="fas fa-bars"></i></button>
</header>
